# .env.example
# Backend (Server-side)
SMM_API_KEY=83d97dd9b3b61589318f4f50b1b90d1a
SMM_API_URL=https://smmtrustpanel.com/api/v2
FIREBASE_SERVICE_ACCOUNT=
GEMINI_API_KEY=

# Frontend (Vite)
VITE_FIREBASE_API_KEY=AIzaSyDQowFz4CyV4KaU2snaaEog99pWHSlaYtw
VITE_FIREBASE_AUTH_DOMAIN=easyboost-f6ac5.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://easyboost-f6ac5-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=easyboost-f6ac5
VITE_FIREBASE_STORAGE_BUCKET=easyboost-f6ac5.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=363188338779
VITE_FIREBASE_APP_ID=1:363188338779:web:bb5b264ea2c0a81b0b7f7e
VITE_FIREBASE_MEASUREMENT_ID=G-4SXSL5PYHE
VITE_PAYMENT_GATEWAY_URL=https://script.google.com/macros/s/AKfycbx3R9hK-5O-ROqvY3XVkBaqOgSE1XXolFg35xD73p__aY274FHPNZN3qeNE1dnZMjmy/exec
VITE_PROFIT_MULTIPLIER=3
VITE_EXCHANGE_RATE=3800

# MarzPay API Credentials
MARZPAY_API_KEY=
MARZPAY_API_SECRET=
